html {
	--logo-tan: rgb(203, 171, 107);
	--logo-lightGray: rgb(232, 232, 233);
	--logo-darkGray: rgb(85, 84, 92);
	--logo-black: rgb(36, 30, 34);
	--logo-brown: rgb(96, 80, 57);

	--light-text-color: white;
	--dark-text-color: black;

	--faction-color-earth: brown;
	--faction-color-wood: green;
	--faction-color-fire: red;
	--faction-color-water: cornflowerblue;
	--faction-color-metal: lightsteelblue;
	--faction-color-colorless: gray;
	--faction-color-inactive: whitesmoke;

	margin: 0;
	padding: 0;
	background-color: var(--logo-lightGray);
}
